@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

:root {
  --primary-color: green;
  --primary-color-dark: rgb(103, 226, 103);
  --secondary-color: #15151f;
  --secondary-color-dark: #0a0b0f;
  --text-light: #6b7280;
  --extra-light: #f8f7fd;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*HEADER*/
nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}
.navbar{
  padding: 0;
  
}
.container-fluid{
background-color: white;
}
.navbar-brand{
margin-right: 20rem;
}
/*FIN HEADER*/
/*QUIENES SOMOS*/
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.section__header {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  color: var(--secondary-color-dark);
}

.section__description {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  width: 100%;
  display: flex;
}
/*FIN QUIENES SOMOS*/

/*DECORACION LETRA*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  padding-block: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/jardinero-weedwacker-cortando-cesped-jardin.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  
}



.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--secondary-color);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--primary-color);
}

.header__content {
  max-width: 600px;
}

.header__content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  color: var(--white);
}




.experience__container {
  display: grid;
  gap: 2rem;
}

.experience__image img {
  max-width: 500px;
  margin: auto;
}



@media (width > 576px) {
  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__card {
    justify-content: flex-start;
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {

  .product__grid__img {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.galeria h1{
  text-align: center;
  margin:20px 0 15px 0;
  font-weight: 300;
}

.linea{
  border-top: 5px solid #13a41d;
  margin-bottom: 40px;
}

.contenedor-imagenes{
  display:flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius:3px;
}

.contenedor-imagenes .imagen{
  width: 32%;
  position: relative;
  height:250px;
  margin-bottom:5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.overlay{
 align-items: center;
  
  
  
}

.overlay h2{
  color: #fff;
  font-weight: 300;
  font-size:30px;
  position: absolute;
  top: 50%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
  
}

.imagen:hover .overlay{
  height:100%;
  cursor: pointer;
  
}

@media screen and (max-width:1000px){
  .contenedor-imagenes{
      width: 95%;
  }
}

@media screen and (max-width:700px){
  .contenedor-imagenes{
      width: 90%;
  }
  .contenedor-imagenes .imagen{
      width: 48%;
  }
}

@media screen and (max-width:450px){
  h1{
      font-size:22px;
  }
  .contenedor-imagenes{
      width: 98%;
  }
  .contenedor-imagenes .imagen{
      width: 80%;
  }
}

/*FIN GALERIA DE ARBOLES*/

/*POLITICAS DE CALIDAD Y AMBIENTE*/

.service__container {
  text-align: center;
}

.service__grid {
  margin-top: 4rem;
  display: grid;
  gap: 4rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.service__card {
  text-align: left;
  padding: 0.8rem; /* Añadir relleno para separar el contenido de los bordes */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Añadir un poco de redondeo a los bordes */
}

.service__card img {
  max-width: 150px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.0rem;
  font-weight: 600;
  color: var(--secondary-color-dark);
}
.service__card p {
  color: var(--text-light);
}
/*FIN POLITICAS DE CALIDAD Y AMBIENTE*/
/*NORMAS ISO*/
/*.iso__img{
  transform: translateX(160%);
}


*/
.img__iso{

  
  
  width: 250px; margin: auto;
  margin-bottom: 50px;
 
}
/*FIN NORMAS ISO*/
/*FONDO VERDE*/
.customisation {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("imagenes/ParqueDeMexico.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.customisation__container {
  text-align: center;
}

.customisation__container :is(.section__header, .section__description) {
  max-width: 750px;
  margin: auto;
  color: var(--white);
}

.customisation__grid {
  margin-top: 4rem;
  display: grid;
  gap: 4rem 2rem;
}

.customisation__card h4 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}

.customisation__card p {
  color: var(--white);
}
/*FIN FONDO VERDE*/


/*FORMULARIO*/
.contact__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.contact__image img {
  max-width: 100%;
  margin: auto;
}

.contact__content form {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.contact__content .form__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.contact__content :is(input, textarea) {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: var(--extra-light);
  border-radius: 5px;
}

.contact__content textarea {
  font-family: "Open Sans", sans-serif;
}

.contact__content input::placeholder {
  color: var(--text-light);
}

.contact__content button {
  max-width: fit-content;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.contact__container button:hover {
  background-color: var(--primary-color-dark);
}
@media (max-width: 900px) {
  .contact__image img {
    display: none;  /* Oculta la imagen cuando el ancho de la pantalla es menor a 1200px */
  }

  .contact__container {
    grid-template-columns: 1fr;  /* Cambia a una columna para centrar el contenido */
  }

  .contact__content {
    margin: auto;   /* Centra el contenido horizontalmente */
  }

  .contact__content form {
    width: 100%;    /* Expande el formulario al 100% del ancho de la pantalla */
  }

  .contact__content .form__group {
    grid-template-columns: 1fr;  /* Cambia a una columna para centrar los elementos del formulario */
    gap: 1rem;
  }

  .contact__content textarea, .contact__content input {
    width: 100%;    /* Ajusta el ancho de los elementos del formulario al 100% */
    max-width: none; /* Elimina el ancho máximo para permitir el 100% de expansión */
  }
}
/*FORMULARIO*/
/*CLIENTES*/
.testimonial__container {
  text-align: center;
}

.swiper {
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.testimonial__card {
  max-width: 600px;
  margin: auto;
}

.testimonial__card img {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  margin-bottom: 1rem;
  object-fit: contain;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.testimonial__card p {
  margin-bottom: 1rem;
  color: var(--secondary-color-dark);
}

.testimonial__card h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}
/*FIN CLIENTES*/

/*PREGUNTAS FRECUENTES!!!*/
.section__container__question {
  margin: auto;
  padding: 6rem 1rem;
}
.section__subheader__question {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}
.section__header__question {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  color: green;
}
.header__container__question {
  padding-top: 10rem;
  text-align: center;
}

.header__container__question .section__header__question {
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;

 }
.question__accordian {
  max-width: 900px;
  margin: 4rem auto 0;
  display: grid;
  gap: 1rem;
}

.question__box {
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  background-color: rgb(184, 234, 178);
}

.question__box .title__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
  color: rgb(23, 132, 9);
}

.question__box .title__question .icon {
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.question__box .content__question {
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.question__box.active .content__question {
  height: 100%;
  padding-top: 0.5rem;
}

@media (width < 900px) {
  

  .header__container__question {
    padding-top: 5rem;
  }

  


  .question__box.active .content__question {
    height: 135px;
  }
}

@media (width < 600px) {
  .header__container__question .section__header__question {
    font-size: 4rem;
    line-height: 5rem;
  }



  .question__box.active .content__question {
    height: 180px;
  }

 
}
/*FIN PREGUNTAS FRECUENTES!!*/
/*FOOTER*/
.footer {
  background-color: var(--secondary-color-dark);
}

.subscribe__container {
  padding-bottom: 0;
  display: grid;
  gap: 2rem;
}

.subscribe__content .section__header {
  color: var(--white);
}

.subscribe__form form {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.subscribe__form input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--text-light);
  background-color: var(--secondary-color);
  border-radius: 100%;
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.footer__links li {
  margin-bottom: 1rem;
}

.footer__links a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__links a:hover {
  color: var(--white);
}

.footer__links p {
  color: var(--text-light);
}

.footer__links p span {
  font-weight: 500;
  color: var(--white);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--white);
  background-color: var(--secondary-color);
  text-align: center;
}

@media (width > 480px) {
  .header__content h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__image {
    grid-column: 1/3;
  }

  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .customisation__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .price__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:first-child {
    grid-column: 1/3;
  }
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__bar {
    padding: 0;
    background-color: transparent;
  }
button .btn{
  display: none;
}
  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
  }

  .header {
    padding-top: 0;
  }

  .header__content h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .banner__image {
    grid-column: 3/5;
  }

  .experience__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .service__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .customisation__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .price__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__content {
    grid-column: 2/3;
  }

  .subscribe__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__col:first-child {
    max-width: 400px;
  }
  
}
/*
@media screen and (max-width: 480px) {
  .iso__img {
    transform: translateX(150%);
    width: 100%; /* Ajusta el ancho al 100% para que la imagen se ajuste al tamaño del contenedor */

/*@media (max-width: 768px){
  .iso__img {
    transform: translateX(50%);
}
}*/


  


@media (width > 1024px) {
  .price__grid {
    gap: 2rem;
  }
}
/*FIN FOOTER*/