/* Google Font Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
    --primary-color: green;
    --primary-color-dark: rgb(103, 226, 103);
    --secondary-color: #15151f;
    --secondary-color-dark: #0a0b0f;
    --text-light: #6b7280;
    --extra-light: #f8f7fd;
    --white: #ffffff;
    --max-width: 1200px;
  }
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
}
nav.sticky{
  padding: 15px 20px;
  background: #1dc51b;
  box-shadow: 0 5px 10px rgba(33, 78, 10, 0.1);
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #1cb01c;
}
nav.sticky .logo a{
  color: #fff;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: #1f9419;
 }
 nav.sticky .nav-links li a{
   color: #fff;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #0E2431;
}

/*FIN HEADER*/
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__subheader {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .section__header {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--secondary-color-dark);
  }
  
  .section__description {
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--primary-color-dark);
  }
  
  img {
    width: 100%;
    display: flex;
  }
  .header {
    margin-top: 150px;
    padding-block: 5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/jardinero-weedwacker-cortando-cesped-jardin.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  